@charset "UTF-8";

/* Reset */
* {
    color: #222;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a                      { text-decoration: none; }
a:link                { color: #222; }
a:visited            { color: #222; }
a:hover             { color: #333; }
a:active             { color: #333; }
img                   { vertical-align: middle; }
ul                      { list-style: none; }
/* Reset */


/* Guide Line */
div#wrap              { border: 2px solid #000; }
div#mainSlide       { border: 2px solid #000; }
div#slideArea        { border: 2px solid #aaa; }
/*div.btnArrow         { border: 2px solid #08f; }*/
div#shuttleFrame   { border: 4px solid #f80;}
/* Guide Line */


/* div#wrap */
div#wrap {
    width: 400px;
    padding: 20px;
    margin: 40px auto;
}
/* div#wrap */


/* 슬라이드영역 */
div#mainSlide {
    width: 300px;
    padding: 4px;
    margin: 0 auto;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

div.btnArrow   {
    width: 40px;
    text-align: center;
}


div.btnArrow span {
    width: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 30px;
    background-color: rgba(0, 136, 255, 0.6);
    display: inline-block;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#slideArea {
    width: 229px;
    padding: 6px;

    overflow: hidden;
}

#slideArea>#shuttleFrame {
    width: 300px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

div.slideBox {
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.3);
}
/* 슬라이드영역 */



